<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114226678150-jvt5tnrms9cvrd0p8p98gc9pe35bt2b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114226678150-jvt5tnrms9cvrd0p8p98gc9pe35bt2b8</string>
	<key>API_KEY</key>
	<string>AIzaSyDEekSH3ioC2k2OvJa_GvAWZd6pO1xlQA8</string>
	<key>GCM_SENDER_ID</key>
	<string>114226678150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akbarshah.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-4d983</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-4d983.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114226678150:ios:9ff28e342c24a4a2270407</string>
</dict>
</plist>